html {
  height: 100%;
  width: 100%;
}
img {
  width:200px;
}
body {
  text-align: center;
  font-family: 'verdana';
  background: lavender;
}
h1 {
  color: hotpink;
}
h2{
  color: pink
}
p {
  color:magenta;
}
a {
  color: purple;
  font-family: 'courier';
}